<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.peerpanda_app1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@drawable/app_icon_peerpanda3"
        android:label="Peer Panda"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        android:installLocation="internalOnly"
        >


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>

        <activity android:name=".GetLocation" />
        <activity
            android:name=".Tutoring"
            android:clickable="true" />
        <activity
            android:name=".BookingStatus"
            android:clickable="true" />
        <activity
            android:name=".SignIn"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".Notification" />
        <activity
            android:name=".BookingDetail"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".RequestTutor"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- tools:replace="android:theme" -->
        <activity android:name=".Cart" />
        <activity
            android:name=".TutorDetail"
            android:label="Tutor Detail"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".UserProfileDetail" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TutorList" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>